body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
    color: #e41212;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(220, 85, 85, 0.2);
    background: rgba(0, 0, 0, 0.9);
}

.form-label {
    font-weight: bold;
    color: #333333;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
}

.btn-primary {
    background: linear-gradient(to right, #007BFF, #00C4FF);
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-size: 1.1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(to right, #0056b3, #0096cc);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-secondary {
    background: linear-gradient(to right, #6C757D, #A0A6AB);
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-size: 1.1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background: linear-gradient(to right, #545b62, #7a8288);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.sign-aries {
    background: linear-gradient(to right, #FF5733, #C70039);
    color: #FFFFFF;
}

.sign-touro {
    background: linear-gradient(to right, #33FF57, #008000); /* verde gradiente */
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}


.sign-gemeos {
    background: linear-gradient(to right, #FFFF33, #FFCC00);
    color: #333333;
}

.sign-cancer {
    background: linear-gradient(to right, #E6E6FA, #8A2BE2);
    color: #333333;
}

.sign-leao {
    background: linear-gradient(to right, #FFD700, #FFA500);
    color: #333333;
}

.sign-virgem {
    background: linear-gradient(to right, #808080, #404040);
    color: #FFFFFF;
}

.sign-libra {
    background: linear-gradient(to right, #FFC0CB, #FF69B4);
    color: #333333;
}

.sign-escorpiao {
    background: linear-gradient(to right, #800000, #FF0000);
    color: #FFFFFF;
}

.sign-sagitario {
    background: linear-gradient(to right, #800080, #BA55D3);
    color: #FFFFFF;
}

.sign-capricornio {
    background: linear-gradient(to right, #8B4513, #A0522D);
    color: #FFFFFF;
}

.sign-aquario {
    background: linear-gradient(to right, #00BFFF, #1E90FF);
    color: #FFFFFF;
}

.sign-peixes {
    background: linear-gradient(to right, #40E0D0, #00CED1);
    color: #333333;
}
